body {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: #ffffff;
    font-family: 'Montserrat', Arial, sans-serif;
}

.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 50rem;
    background-color: #fff;
    margin: 2.5rem auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

